/* Chung */
.wrapper {
    margin-left: 20px;
    margin-bottom: 16px;
    padding: 12px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}

/* Img-container */
.img-container {
    display: inline-flex;
}

.img {
    object-fit: contain;
    width: 500px;
    height: 500px;
}
